<?xml version = "1.0" encoding = "utf-8"?>


<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<bean name= "employeeRepository" class = "com.alfar.training.salesmanager.repository.HibernateEmployeeRepositoryImp" />

<bean name= "employeeService" class = "com.alfar.training.salesmanager.service.EmployeeServiceImp" autowire = "constructor" >

<!--  <constructor-arg ref = "employeeRepository" index = "0"></constructor-arg>  -->

<!--  <property name = "employeeRepository" ref = "employeeRepository" >  

</property>  -->


</bean>




</beans>